.imgLogo {
    width: 100px;
}

.imgLogo2 {
    width: 200px;
}

.textHover:hover {
    color: rgb(47, 47, 178);
    cursor: pointer;
}

#gamingRed {
    background-image: url('../img/gaming.png');
}

#officeRed {
    background-image: url('../img/oficina.png');
}

#ordenaRed {
    background-image: url('../img/ordenador.png');
}

#compoRed {
    background-image: url('../img/componentes.png');
}

.size {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 300px;
    height: 300px;   
}

.sliderW {
    width: 800px;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #2cb1ff!important;
}

.separTop {
    margin-top: 100px;
}

.separarBot {
    margin-bottom: 150px;
}

.wfotov {
    width: 400px;
    height: 300px;
}
  
  
  